{% extends 'base.html.twig' %}

{% block title %}Hello AddProductController!{% endblock %}

{% block bodystyle %}
    style="background-color: black"
{% endblock %}

{% block body %}
    <div class="container">
        <form class="row">
            <h4 class="text-white ms-5 ps-5">Add Product</h4>

            <div class="col-6 ms-5 container-fluid bg-light p-5 pt-4 me-0 rounded">

                    <div class="row input-group mb-3">
                        <label for="title">Titlu</label>
                        <input class="rounded" name="title" placeholder="Titlul produsului..." type="text">
                    </div>
                    <div class="row input-group mb-3">
                        <label for="description">Descriere</label>
                        <input name="description" placeholder="Descriere produs..." type="hidden">
                        <div class="rounded-bottom bg-white" id="editor">
                            <p>Hello World!</p>
                            <p>Some initial <strong>bold</strong> text</p>
                            <p><br></p>
                        </div>
                    </div>
                    <div class="row input-group mb-3">
                        <label for="img_thumbnail">Thumbnail</label>
                        <input type="file" id="img_thumbnail" name="img_thumbnail" accept="image/*">
                    </div>
                    <div class="row input-group mb-3">
                        <label for="img_showcase">Showcase</label>
                        <input type="file" id="img_showcase" name="img_showcase" accept="image/*">
                    </div>
                    <div class="row input-group mb-3">
                        <div class="row">
                        <label class="col-6" for="price">Pret</label>
                        <label class="col-6" for="code">Cod</label>
                        </div>
                        <input class="rounded col-5" name="price" placeholder="Introduceti un pret (RON)" type="text">
                        <input class="rounded col-6 ms-5" name="code" placeholder="Introduceti codul produsului..." type="text">
                    </div>
                    <div class="row input-group">
                        <label for="category">Categorie</label>
                        <select class="form-select rounded" id="category" name="category">
                            <option selected disabled>Alege categoria produsului</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                    </div>
            </div>
            <div class="col-3 container-fluid ms-5 bg-light p-5 pt-4 rounded">
                <div class="row input-group border-bottom">
                <label for="status">Status Produs</label>
                <select class="form-select rounded" id="status" name="status">
                    <option selected value="1">Draft</option>
                    <option value="2">On Sale</option>
                    <option value="3">Sold Out</option>
                </select>
                <p class="form-text">Produsul va fi ascuns din lista de produse disponibile.</p>
                </div>
                <div class="row input-group pb-3 border-bottom">
                    <label for="seller">Vanzator</label>
                    <input class="rounded" placeholder="e.g. ASUS" name="seller" type="text">
                </div>
                <div class="row input-group border-bottom mt-2">
                    <label for="seller">Etichete</label>
                    <span class="input-group-text col-2"><i class="bi bi-search"></i></span><input class="form-control col-5" placeholder="Cauta eticheta" name="seller" type="text">
                    <p class="form-text">Adauga o eticheta din cele deja existente la produs pentru a fi mai usor de gasit.</p>
                </div>
                <div class="row input-group mt-2">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Locatie</th>
                            <th scope="col">Cantitate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Arad - Micalaca</th>
                            <td class="text-center"> 5 </td>
                        </tr>
                        <tr>
                            <th scope="row">Arad - Bou Rosu</th>
                            <td class="text-center"> 0 </td>
                        </tr>
                        <tr>
                            <th scope="row">Timisoara - Iulius Town</th>
                            <td class="text-center"> 3 </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
