{% extends 'base.html.twig' %}

{% block title %}PCStore{% endblock %}

{% block navhome %}
active
{% endblock %}
{% block bodystyle %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/shop.css">
{% endblock %}

{% block body %}
<div class="container" >
{#    TODO: Prettify!#}
    {{ dump(order) }}
    <div class="row align-items-center text-center">
        <h4>Order #{{ order.id }} has been successfully been placed!</h4>
        <p>You will soon receive a confirmation email with further details about your order.</p>
    </div>
</div>
{% endblock %}
